<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>data detail</title>
</head>
<body>
    title: <%=data.title%><br>
    data: <%=data.data%><br>

    <p>-------------------------------------------</p>
    <p> data update </p>
    <p>-------------------------------------------</p>
    <form method = "POST", action = "/db/update/<%=data.id%>">
        <p>제목 : <input type="text" name = "title" value = "test title"></p>
        <p>내용 : <input type="text" name = "data" value = "test data"> </p>
        <input type="submit", value = "update">
    </form>

    <p>-------------------------------------------</p>
    <form method = "POST", action = "/db/delete/<%=data.id%>">
        <input type = "submit", value = "DELETE">
    </form>

    
    <a href = "/db">list back</a><br>
</body>
</html> 