<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>studying nodejs</title>
    </head>
    <body>
        <a href="" class="btn btn-primary">db test</a><br>
        <a href="" class="btn btn-primary">db insert data</a><br>
        <a href="" class="btn btn-primary">form get post</a><br>
        <a href="" class="btn btn-primary">json get post</a><br>
        <a href="" class = "btn btn-primary">wtf test page</a><br>
        <a href="" class = "btn btn-primary">login test page</a><br>
        <a href="" class = "btn btn-primary">sign test page</a><br>
        <a href="" class = "btn btn-primary">board test page</a><br>
        <a href="" class = "btn btn-primary">chat test</a><br>
    </body>
</html> 